html,
body {
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}


/* 微信遮罩 */

.wxtip {
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 99999;
    color: rgb(43, 43, 43);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    bottom: 0px;
    position: fixed;
    cursor: default;
    background: rgba(166, 166, 166, .5);
    padding: 4px;
    border-image: initial;
    border-bottom: 0px;
}

.app_name {
    margin-top: 4%;
    font-size: .426667rem;
    font-weight: 600;
}

.logo {
    margin-top: 20%;
    height: 1.76rem;
    width: 1.76rem;
    background: url("../images/logo2021173555.png");
    background-size: 100% 100%;
    background-position: center center;
    overflow: auto;
    border-radius: .88rem;
}

.download-btn {
    width: 5.333333rem;
    height: 1.173333rem;
    background-color: #5880F5;
    border-radius: .16rem;
    font-size: .426667rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    color: aliceblue;
    margin-top: 20%;
}

.share {
    position: absolute;
    top: 0;
    right: 3%;
    height: 2.666667rem;
    font-size: 2.666667rem;
    color: white;
}

.description {
    position: absolute;
    top: 20%;
    right: 0;
    height: 2.666667rem;
    width: 84%;
    font-size: .866667rem;
    color: white;
}